<div class="wrapper">
  <form class="register-form" [formGroup]="registerForm1">
    <h1
      [ngStyle]="{
        'text-decoration': 'underline',
        'text-decoration-thickness': '5px',
        'text-underline-offset': '8px'
      }"
    >
      <b>Step 1 of 3</b>
    </h1>
    <h1>
      Just three steps and you can be binging<br />your favorite
      <b>Shows</b> and <b>Movies</b>!
    </h1>
    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. craig@example.com"
        [errorStateMatcher]="this.errorMatcher"
       required
      />

      <mat-error
        *ngIf="
          registerForm1.get('email').hasError('email') &&
          !registerForm1.get('email').hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="
          registerForm1.get('email').errors?.['taken'] 
        "
      >
        Email is taken, please choose another.
      </mat-error>
    </mat-form-field>
    <!-- Confirm Email -->
    <mat-form-field appearance="fill">
      <mat-label>Confirm Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="confirmEmail"
        placeholder="Ex. craig@example.com"
       required
      />
    </mat-form-field>
    <div
      class="confirm-error"
      *ngIf="
       
        registerForm1.dirty || registerForm1.touched
      "
    >
      <mat-error
        *ngIf="
                 registerForm1.errors?.[this.notSame]
                "
      >
        Email does not match!
      </mat-error>
    </div>
    <button mat-flat-button type="button" color="primary" routerLink="form2">
      Next
    </button>
  </form>
</div>
