.wrapper {
  height: 60%;
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}


.register-form {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 450px;
}
h1{
    margin-top: 10px;
}

.confirm-error {
  display: block;
  margin-top: -1.34375em;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  text-align: left;
  font-size: 75%;
  padding-left: 10px;
}

button {
    height: 50px;
    margin: 24px 0;
    font-size: 1rem;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


 @media (max-height: 870px)  {
  .wrapper{
    margin-top: 10px;
    height: fit-content;
    width: 100%;
  }
  
    h1{
    display: none;
  }
}