.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #181818;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.dark-layer{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: linear-gradient(
        0deg,
        #181818 0,
        hsla(0, 0%, 9%, 0.987) 1.62%,
        hsla(0, 0%, 9%, 0.951) 3.1%,
        hsla(0, 0%, 9%, 0.896) 4.5%,
        hsla(0, 0%, 9%, 0.825) 5.8%,
        hsla(0, 0%, 9%, 0.741) 7.06%,
        hsla(0, 0%, 9%, 0.648) 8.24%,
        hsla(0, 0%, 9%, 0.55) 9.42%,
        hsla(0, 0%, 9%, 0.45) 10.58%,
        hsla(0, 0%, 9%, 0.352) 11.76%,
        hsla(0, 0%, 9%, 0.259) 12.94%,
        hsla(0, 0%, 9%, 0.175) 14.2%,
        hsla(0, 0%, 9%, 0.104) 15.5%,
        hsla(0, 0%, 9%, 0.049) 16.9%,
        hsla(0, 0%, 9%, 0.013) 18.38%,
        hsla(0, 0%, 9%, 0) 20%
      );
        z-index: 1;
}

.hero {
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.info {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px 10px 10px 20px;
}

.logo {
  height: 25%;
  width: 60%;
  margin-bottom: 20px;
}

.logo img {
  height: 100%;
  width: 90%;
}
