.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  color: #333;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  height: 5rem;

  width: 100vw;
  padding-top: 20px;
  z-index: 99;
}

.logo {
  margin-left: 3%;
  cursor: pointer;
}

.logo::after {
  content: "Click to Go Home";
  z-index: 99;
  color: #fff;
 
  height: 1.5rem;
  width: fit-content;
  padding: 1px;

  position: relative;
  left: 25%;
  display: block;
  
  border-radius: 15px;
  -webkit-border-radius: 15px;
  transform: scale(0, 0);
  transition: transform 0.5s ease-out;
}

.logo:hover::after{
  transform: scale(1,1);
}

.user-container {
  height: 100%;
  width: 50%;
  margin-right: 3%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: no wrap;
}

.username {
  font-size: 1.25rem;
  margin-right: 15px;
  margin-top: 8px;

  
}

.header-btn {
  background-color: #e50914;
  font-size: 1rem;
  font-weight: bold;
  line-height: normal;
  padding: 7px 17px;
  border-radius: 5px;
  color: #fff;

  cursor: pointer;
}

// .user {
//   text-decoration: underline;
  
//   text-decoration-thickness: 2px;
// }

@media (max-width: 460px) {
  .user,
  .username {
   display: none;
  }
  
  .header-btn {
    height: 1rem;
    font-size: 0.75rem;
    width: 50px;
  }
}
