<div class="header">
  <div class="logo" routerLink="home">
    <img src="assets\pics and logo\Logo.png" />
  </div>
  <div *ngIf="router.url !== '/signIn'" class="user-container">
    <a
      class="header-btn"
      *ngIf="
        !formService.isLoggedIn() ||
        router.url === '/register' ||
        router.url === '/register/form2' ||
        router.url === '/register/form3'
      "
      routerLink="signIn"
      >Sign In</a
    >
    <span
      class="username"
      *ngIf="
        formService.isLoggedIn() &&
        router.url !== '/register' &&
        router.url !== '/register/form2' &&
        router.url !== '/register/form3'
      "
      [style.color]="router.url === '/changeRole'? '#e50914' : '#fff'"
      >User: <span class="user" >{{ getName() }}</span></span
    >
    <a
      class="header-btn"
      (click)="formService.logout()"
      *ngIf="
        formService.isLoggedIn() &&
        router.url !== '/register' &&
        router.url !== '/register/form2' &&
        router.url !== '/register/form3'
      "
      >Log Out</a
    >
  </div>
</div>
