.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  flex-flow: row nowrap;
  color: #333;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  height: 5rem;

  width: 100vw;
  padding-top: 20px;
  z-index: 99;
}

.logo {
  margin-left: 3%;
}

.signIn-btn {
  background-color: #e50914;
  font-size: 1rem;
  font-weight: bold;
  line-height: normal;
  padding: 7px 17px;
  border-radius: 5px;
  color: #fff;
  margin-right: 3%;

  cursor: pointer;
}
