
<div class="wrapper" [style.background-image]="'url(' + this.imgUrl + this.movie?.backdrop_path+ ')'">
    
    <div class="dark-layer">
    <div class="hero" >
            <div class="info">
                <div class="logo"><img src="{{this.logo}}"/></div>
                <mat-card-title>{{this.movie?.title}}</mat-card-title>
                
                <div class="stats">{{this.movie?.release_date | date: 'yyyy'}} | {{this.movie?.runtime}} min | Rating: {{this.movie?.vote_average}}</div> 
                <div class="genres"><p *ngFor="let genre of this.movie?.genres">{{genre.name}}</p></div>  
                <div class="description">
                    <p>{{this.movie?.overview}}</p>
                </div>  
            </div>
                <div class="trailer" >
                    <youtube-player [width]="this.width" [height]="this.height"
                    videoId="{{this.trailerUrl}}">
                </youtube-player> 
            </div>
    </div>
</div>
</div>
