<!-- <mat-form-field appearance="fill">
  <h1 [ngStyle]="{'text-decoration': 'underline','text-decoration-thickness': '5px','text-underline-offset': '8px'}"><b>Step 1 of 3</b></h1>
       <h1>Just three steps and you can be binging<br>your favorite <b>Shows</b> and <b>Movies</b>!</h1>
    <mat-label>TMBD Key</mat-label>
    <input
      type="text"
      matInput
      
      
      placeholder="TMBD Key"
    />

   
  
  </mat-form-field>
<button mat-flat-button color="primary">Register</button> -->


