<div class="wrapper">
  <form class="register-form" [formGroup]="registerForm1">
    <h1
      [ngStyle]="{
        'text-decoration': 'underline',
        'text-decoration-thickness': '5px',
        'text-underline-offset': '8px'
      }"
    >
      <b>Step 1 of 3</b>
    </h1>
    <h1>
      Just three steps and you can be binging<br />your favorite
      <b>Shows</b> and <b>Movies</b>!
    </h1>
    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. craig@example.com"
        [errorStateMatcher]="errorMatcher"
      />

      <mat-error *ngIf="registerForm1.get('email').hasError('email') && !registerForm1.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
      <!-- Confirm Email -->
      <mat-form-field appearance="fill">
        <mat-label>Confirm Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="confirmEmail"
          placeholder="Ex. craig@example.com"
          [errorStateMatcher]="errorMatcher"
        />

        <mat-error
          *ngIf="registerForm1.get('email').value !== registerForm1.get('confirmEmail').value"
        >
          Email does not match!
        </mat-error>
      </mat-form-field>
    <button mat-flat-button type="button" color="primary">Next</button>
  </form>
</div>
