<div class="hero-card-text">
  <h1 class="title" >
    Unlimited movies, TV shows, and more.
  </h1>
  <h2  class="subtitle" >
    Watch anywhere. Cancel anytime.
  </h2>
  <form class="email-form" >
    <h3 class="email-form-title">
      Ready to watch? Enter your email to create or restart your membership.
    </h3>
    
     
            <div class="input-wrapper">
              
                <input
                  type="email"
                  
                  class="email-input"
                  
                  id="email-input"
                  tabindex="0"
                  autocomplete="email"
                  maxlength="50"
                  minlength="5"
                  placeholder="Email Address"
                />
               
                <button mat-flat-button class="email-btn">Get Started ></button>
            </div>
          
        
     
  </form>
</div>
