<div class=" wrapper">
    <div class="title">
        <h1>Select Your New Role</h1>
    </div>
    <div class="center-container">
    <mat-card class="user">
        <h2>User</h2>
        <ul>
            <li>Can access Home page</li>
            <li>Thats about it</li>
            <li>Honestly, why would you choose this?</li>

        </ul>
        <button mat-flat-button color="primary">User</button>
    </mat-card>
    <mat-card class="admin">
        <h2>Admin</h2>
        <ul>
            <li>Can access Movie List</li>
            <li>Scroll through popular movies anytime</li>
            <li>Honestly, way better than a user!</li>
        </ul>
        <button mat-flat-button color="primary">Admin</button>
    </mat-card>
    <mat-card class="super">
        <h2>Super</h2>
        <ul>
            <li>Can access Movie Details</li>
            <li>Read movie details and watch trailers anytime</li>
            <li>Honestly, this is the obvious choice!</li>
        </ul>
        <button mat-flat-button color="primary">Super</button>
    </mat-card>
</div>
</div>
