.wrapper{
    height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.title{
    position: absolute;
    top:  0;
    left: 0;
    width: 100vw;
    height: 25vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
h1{
    font-size: 2.5rem;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
}

.center-container{
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    padding: 0;
    margin: 0;
}

mat-card{
    height: 60%;
    width: 20%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    
}

h2{
    font-size: 1.5rem;
}

li{
    font-size: 1rem;
}


button{
    width: 50%;
    height: 3rem;
}


@media (max-width: 1000px) {
    .center-container{
        justify-content: space-between;
    }

    mat-card{
        width: 300px;
    }
}

@media (max-width: 600px) {
   h1,
    h2{
        font-size: 1rem;
        font-weight: bold;
    }
   
    .wrapper{
        
        justify-content: center;
        align-items: center;
    }
   
    .center-container{
        height: calc(100vh - 6.25rem - 20px);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
       
    }

    .title{
        position: static;
        margin-top: calc(5rem + 20px);
        height: 1.25rem;
    }

    mat-card{
        width: 88vw;
        height: 35%;
        margin: 10px 0;
        
        
    }
}