.wrapper {
 
    min-height: auto;
  width: 100vw;
 min-height: 100vh;
 max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.center-container {
  width: fit-content;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(5, auto);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 150px 100px 0px 100px;
  

  background-color: transparent;
  height: 100%;
  margin-bottom: 20px;
}

.card {
  height: 40vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding: 5px 5px 5px 5px;
  background-color: #e50914;
}

img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid black 1px;
}

.title {
  margin-bottom: 50px;
}

@media (max-width: 1680px) {
    .center-container{
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(4, auto);
    }
    
}
@media (max-width: 1310px) {
    
    


    .center-container{
        grid-template-rows: auto;
        grid-template-columns: repeat(4, auto);
        margin: 100px 10px 5px 10px;
        padding: 0;
        width: 100vw;
        min-height: 100vh;
        grid-gap: 5px;
    }

    .card{
        height: 140px;
        width: 70px;
        margin: 0;
        padding: 2px;
    }

    img{
        height: 99%;
        width: 99%;
    }
    
}
