<div
  class="wrapper"
  infinite-scroll
  [infiniteScrollDistance]="2.5"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
>
  <div class="center-container">
    <mat-card class="card" *ngFor="let movie of movies" id="{{ movie.id }}">
      <img src="{{ movie.pic }}" alt="{{ movie.title }}" />
      <!-- <mat-card-title class="title">{{movie.title}}</mat-card-title> -->
    </mat-card>
  </div>
  <mat-icon *ngIf="scrolled === true" (click)="scrollToTop()" class="scrollUp"
    >keyboard_arrow_up</mat-icon
  >
</div>
